.user-card {
    display: grid;
    grid-template-columns: 72px minmax(0, 1fr);
    grid-column-gap: 15px;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
}
.user-card .avatar {
    width: 63px;
    height: 63x;
    border-radius: 100%;
}

.user-card .text-container .user-name {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}


.user-card .text-container h7 {
    margin: 0;
    
}

.user-card .text-container p {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}
.user-card .text-container h7 span{
  color: gray;
}