.d-flex {
    display:flex;

}
.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
.tooltip-container .container {
    display: grid;
    grid-template-columns: 60px minmax(0, 1fr);
}
