header {
    background: #2c2c32;
    border: none;
    margin-bottom: 0;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    
}


 header .logo {
    width: 25px;
    height: 25px;

}

nav a {
 color: rgb(68, 68, 68);
 text-decoration: none;
 padding: 0 10px;
 margin-top: 25px;
 font-size: 16px;
}
nav h1 {
    color: white;
    padding: 0 10px;
    
}

nav a :hover {
    text-decoration: underline;
     font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;

}


nav .d-flex {
    gap: 2px;
}

 
nav {
    height: 100%;
}
