

.notfication-block {
    padding: 0 12%;
    background-color: #25252b;
    color: #ccc;
    position: relative;
    z-index: 1;
   text-align: center;
   
}

.notfication-block p {
    margin: 0;
    font-size: 1,6em;
}
 
.notfication-block a {
    color: dodgerblue;
    text-decoration: none;
}

.notfication-block {
    display: block;
}
