body {
    min-height: 200vh;
    background-color: lightgray;
}


header {

    position: fixed;
    height: 60px;
    background-color: lightcoral;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {

  top: 80px;
  right: 0;
  width: 200px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align:center;
  text-orientation: sideways-right;
}

conteiner-1 {
    position: relative;
    
}


.bottomleft 
{
    position: absolute;
bottom: 8px;
left: 16px;
font-size: 18px;
border: 7px solid #e42626;


}

.div-img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
  position: static;


}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 10%;
    padding: 70px;
    background-color: #e99b8e;
    border: 2px solid #000000;
  }



  
  
  
p {
    font-family: "Lucida Console", "Courier New", monospace;}